<% comments.each do |comment| %>
    <div class="comment">
        <p><%= comment.body %></p>
        <p class="author"><%= link_to comment.user.username, user_url(comment.user) %></p>
    </div>     
<% end %>