/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --main-color: #31323c;
    --header-bg: #73678d;
}

html,
body,
header,
main,
section,
h1,
h2,
p,
form,
input,
a,
div,
table,
textarea,
ul,
li {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--main-color);
    box-sizing: border-box;
    text-align: left;
}

body {
    width: 100%;
}

header {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    background-color: var(--header-bg);
    color: #ffffff;
}

main {
    width: 90%;
    margin: 30px auto;
}

h1.logo {
    display: inline-block;
    font-size: 2em;
    color: inherit;
}

.logo a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

nav {
    text-align: right;
    color: inherit;
}

nav a {
    color: inherit;
    font-size: 1.25em;
    text-decoration: none;
    margin-left: 15px;
}

.button_to {
    display: inline-block;
    color: inherit;
    font-size: 1.25em;
    margin-left: 15px;
}

.button_to input[type="submit"] {
    color: inherit;
    font-size: inherit;
    cursor: pointer;
}

.cheers {
    position: absolute;
    right: 15px;
    top: 7em;
}

main h1 {
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.users div {
    display: inline-block;
    padding: 15px;
    width: auto;
}

main form div {
    margin: 15px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    border: 1px solid var(--main-color);
    padding: 5px;
}

main input[type="submit"] {
    background-color: var(--header-bg);
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}

main p {
    text-align: center;
    margin-top: 60px;
}

section {
    padding: 15px;
}

section {
    border: 1px solid var(--main-color);
    margin: 15px auto;
}

section div {
    width: 100%;
    margin: auto;
}

section p {
    margin: 15px 0;
}

textarea {
    height: 100px;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 30px;
}

.comment {
    background-color: #e7e1f5;
    padding: 10px;
    margin: 15px auto;
}

.comment p {
    margin: 0 0 10px 0;
    text-align: left;
}

p.author {
    text-align: right;
}

.goals div {
    width: 90%;
}

input[type="checkbox"] + label {
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
    vertical-align: baseline;
}

table .button_to {
    margin: 0;
}

.goals input[type="submit"] {
    color: #fff;
    font-size: 0.8em;
    width: auto;
    margin: 0;
}

table {
    margin: 15px auto;
}

th, td {
    padding: 0 15px 15px 0;
}

.goals td:nth-of-type(1) {
    display: block;
    width: 100%;
}

.goals td:nth-of-type(2),
.goals td:nth-of-type(3) {
    display: inline-block;
    width: 48%;
    padding: 0 0 25px 0;
}

.goals td:nth-of-type(3) {
    text-align: right;
}

.description h2 {
    padding: 0;
}

.description p {
    text-align: left;
}

.cheer-btn form {
    margin-left: 15px;
}

.cheer-btn input[type="submit"] {
    padding: 5px;
}

.buttons div {
    display: inline-block;
    width: 48%;
    margin: 15px 0;
}

div.goals {
    text-align: right;
}

div.buttons {
    margin-top: 30px auto;
}

@media only screen and (min-width: 600px) {
    main {
        width: 60%;
    }

    section div  {
        width: 70%;
    }
}

@media only screen and (min-width: 800px) {
    .goals td:nth-of-type(1), 
    .goals td:nth-of-type(2),
    .goals td:nth-of-type(3) {
        display: table-cell;
        width: auto;
        padding: 0 15px 15px 0;
    }
}